---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout sideBarActiveItemID="publications">
  <div class="p-4">
    <h1 class="text-4xl font-bold mb-6">Publications</h1>

    <ul class="space-y-6">

    <li>
      <div class="text-xl font-semibold">
        Zhang, Y., Wang, H., Wang, F., Mozaffari, M. H., Ko, Y., Elsagan, N., & Lee, C. G. (2025).  
        <i>Improved Dynamic Time Warping for Fire Safety Emergency Response: A Robust and Interpretable Extension</i>.  
        <span class="italic text-gray-600">Knowledge-Based Systems, 113462</span>
      </div>
      <div class="text-sm text-gray-500">
        [<a href="https://doi.org/10.1016/j.knosys.2025.113462" target="_blank">DOI</a>]  
        [<a href="https://www.sciencedirect.com/science/article/abs/pii/S095070512500509X" target="_blank">Publisher Link</a>]
      </div>
    </li>

    <li>
      <div class="text-xl font-semibold">
        Tian, S., Zhang, Y., Feng, Y., et al. (2023).  
        <i>Time series classification, augmentation and artificial-intelligence-enabled software for emergency response in freight transportation fires</i>.  
        <span class="italic text-gray-600">Expert Systems with Applications</span>, 233, 120914.
      </div>
      <div class="text-sm text-gray-500">
        [<a href="https://doi.org/10.1016/j.eswa.2023.120914" target="_blank">DOI</a>]  
        [<a href="https://www.sciencedirect.com/science/article/pii/S0957417423014161" target="_blank">Publisher Link</a>]
      </div>
    </li>


    <li>
      <div class="text-xl font-semibold">
        Liu, D., Shangguan, X., Wei, K., et al. (2023).  
        <i>Research on the standardization strategy of granular computing</i>.  
        <span class="italic text-gray-600">International Journal of Cognitive Computing in Engineering</span>, 4, 340–348.
      </div>
      <div class="text-sm text-gray-500">
        [<a href="https://doi.org/10.1016/j.ijcce.2023.09.004" target="_blank">DOI</a>]  
        [<a href="https://www.sciencedirect.com/science/article/pii/S2666307423000323" target="_blank">Publisher Link</a>]
      </div>
    </li>

    <li>
      <div class="text-xl font-semibold">
        Zhang, Y., & Lee, C.-G. (2025).  
        <i>A Contrastive Diffusion Network for Time Series Classification</i>.  
        <span class="italic text-gray-600">Proceedings of the 27th European Conference on Artificial Intelligence (ECAI)</span>, accepted.
      </div>
      <div class="text-sm text-gray-500">
        [<span class="italic text-red-500">To appear</span>]
      </div>
    </li>

    </ul>
  </div>
</BaseLayout>